<table class="table"
       app-sortable-table
       (gridSortChangedEvent)="onGridSortChanged($event)"
       [ngClass]="cssClasses">
  <thead>
  <tr>
    <th *ngFor="let column of getTableSchema()" style="position: relative;"
        sortable-column="{{column.attr}}"
    >{{column.head}}</th>
  </tr>
  </thead>

  <tbody>
  <tr table-row
      *ngFor="let item of getTableData() | tableFilterPipe: searchTerm:searchAttr"
      [row]="item"
      [tableSchema]="getTableSchema()"
      (click)="onRowClicked(item)">
  </tr>
  </tbody>
</table>
